.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}

.cell.hit {
  background-color: #e74c3c;
} /* red */

.cell.miss {
  background-color: #a3c9ff;
} /* light blue */

.cell.sunk {
  background-color: #7f1d1d;
  color: #fff;
}
